*.obj
*.dll
*.user
*.manifest
*.pdb
*.dep
*.exe
*.log
*.lib
*Debug*
*Release*
*UpgradeReport*
*UpgradeLog*
VS2003/*
*.ncb
*.sdf
*.old
*.ipch
*.suo
*.opensdf
/.vs

/lib/.deps
/autom4te.cache
/consoleexample/.deps
/apps/__pycache__/*.pyc
